:root { 
--blue_800_a5:#1a57cea5; 
--black_900_a0:#000000a0; 
--gray_50_01:#faf7f7; 
--blue_gray_100:#d9d9d9; 
--red_600:#cb4848; 
--blue_800:#2867b2; 
--black_900_c9:#000000c9; 
--gray_700_a0:#636060a0; 
--black_900_3f:#0000003f; 
--gray_200:#f0f0f0; 
--gray_50:#fffbfb; 
--black_900:#000000; 
--indigo_A700:#3446e7; 
--white_A700:#ffffff; 
}