
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/JosefinSansRomanBold.ttf"); font-family : "Josefin Sans"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SairaRomanBold.ttf"); font-family : "Saira"; font-weight : 700;  }